Source: freeswitch-sounds-ru-ru-elena
Maintainer: Vladimir Elizarov <me@vladimirelizarov.net>
Section: net
Priority: extra
Build-Depends: debhelper (>= 5), fakeroot, sox
Standards-Version: 3.7.3

Package: freeswitch-sounds-ru-ru-elena-8000
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Russian language files for the FreeSWITCH(TM)
 FreeSWITCH is an open source telephony platform designed to facilitate the
 creation of voice and chat driven products scaling from a soft-phone up to
 a soft-switch.  It can be used as a simple switching engine, a media gateway
 or a media server to host IVR applications using simple scripts or XML to
 control the callflow.
 .
 Russian language files for the FreeSWITCH(TM) (8000).

Package: freeswitch-sounds-ru-ru-elena-16000
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Russian language files for the FreeSWITCH(TM)
 FreeSWITCH is an open source telephony platform designed to facilitate the
 creation of voice and chat driven products scaling from a soft-phone up to
 a soft-switch.  It can be used as a simple switching engine, a media gateway
 or a media server to host IVR applications using simple scripts or XML to
 control the callflow.
 .
 Russian language files for the FreeSWITCH(TM) (16000).

Package: freeswitch-sounds-ru-ru-elena-32000
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Russian language files for the FreeSWITCH(TM)
 FreeSWITCH is an open source telephony platform designed to facilitate the
 creation of voice and chat driven products scaling from a soft-phone up to
 a soft-switch.  It can be used as a simple switching engine, a media gateway
 or a media server to host IVR applications using simple scripts or XML to
 control the callflow.
 .
 Russian language files for the FreeSWITCH(TM) (32000).

Package: freeswitch-sounds-ru-ru-elena-48000
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Russian language files for the FreeSWITCH(TM)
 FreeSWITCH is an open source telephony platform designed to facilitate the
 creation of voice and chat driven products scaling from a soft-phone up to
 a soft-switch.  It can be used as a simple switching engine, a media gateway
 or a media server to host IVR applications using simple scripts or XML to
 control the callflow.
 .
 Russian language files for the FreeSWITCH(TM) (48000).

